

.hero{
    background-color: rgb(237, 233, 229);
    margin-top: 38px;
    height: 235px;
    display: grid;
    grid-template-columns: repeat(3, 3fr); 
    margin-bottom: 140px;
padding-bottom: 3px;
}

h1{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 

}

h1 span { 
    background:#fff; 
    padding:0 10px; 
}

.heading{
        font-size: 25px;
    margin-bottom: 40px;
    padding: 60px;
    /* margin-top: 100px; */
}

.products {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    color: #464545;
    font-style: normal;
    display: grid;
    grid-template-columns: repeat(4, 2fr); 
    grid-column-start: 2;
    grid-column-end: 5;

    gap: 10px; 
    width: 80%;
    justify-content: center; 
    align-content: center;
    margin-top: 10px;
    margin-bottom: 90px;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;

}

.product {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(196, 195, 195);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.productImg {
    width: 100%; 
    height: auto; 
}


.buy {
    background-color: rgb(1, 72, 1);
    width: 80px;
    height: 40px;
    color: #fff;
    font-weight: 700;
    margin-top: 10px; 
    align-self: center; 
}

.product:hover {
    border-color: black; 
}

.product:hover .buy {
    transform: scale(1.1); 
}

.description{
    font-style: italic;
    font-size: smaller;
}

.pic{
    width: 100%;
}

.text{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 15px;   
    line-height: 1.5; /* Här kan du ändra värdet för att öka eller minska avståndet mellan raderna */
    

    
}

.krukväxter{
    margin-top: 70px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    color: #000000;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: 200;
    
}