nav {
  padding: 23px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000; 
  z-index: 1000; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
.logo-link {
  color: #CFB53B; /* Färg på texten */
  text-decoration: none; /* Ta bort understrykning */
}
/* 
.logo-link:hover {
  /* text-decoration: underline;  */
/* } */

/* .logo {
  width: 15%;
  color: #CFB53B;
  right: 160px;
  box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.2); 
} */


nav ul {
  margin-left: auto; /* Flytta länkarna till högra hörnet */
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 10px; /* Avstånd mellan länkarna */
  font-weight: 900;
  color: white;
}

nav ul li a {
  text-decoration: none;
  color: white; /* Färg på länkarna */
}

nav ul li a:hover {
  color: white; /* Färg på länkarna vid hovring */
}

img {
  width: 80px; /* Justera logotypens storlek efter behov */
  margin-right: 10px; /* Avstånd mellan logotypen och texten */
}

.AdminBtn {
  margin-right: 70px;
}

.cart {
  display: flex; 
  color: white;
  position: relative; /* Sätt positionen till relativ för att använda absolut positionering relativt .cart */
  z-index: 1010; /* Öka z-index för att se till att .cart ligger över navigationsfältet */
}

.cart a{
  color: rgb(255, 255, 255);
  position: absolute;
  top: -27px;
  right:160px;
  background-color: black;
}

.cart svg {
  font-size: 40px;
  background-color: black;
}

.cart p {
  position: absolute;
  right: -11px;
  top: -2px;
  background-color: rgb(16, 16, 16);
  color: white;
  height: 1rem;
  width: 1rem;
  padding: 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;

}